table, th, td{
  min-width: 50px;
  text-align: center;
}

a.white{
  color: white;
}

a.blue{
  color: red;
}

table{
  border: 1px solid rgb(200,200,200);
}

tr:nth-child(even){
  background-color: #eee;
}

th{
  background-color: #696969;
  color: #fff;
}

.action{
  display: flex;
  justify-content: space-between;
}
.right{
  display: flex;
  margin-right: 20px;
}

a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
